@import "../mycollection/font/flaticon.css";
@import "../fonts/vazir-fonts/fonts.css";
@import "header.css";
@import "footer.css";
html {
  height: 100%;
}

body {
  width: 100%;
  direction: rtl;
  font-family: "Vazir" !important;
  height: 100%;
}

main {
  min-height: 100%;
  margin-top: 7em;
  margin-bottom: 7em;
}

.schedule-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.schedule {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.15em solid;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  border-color: #0087e0;
  background: white;
  padding-top: 3em;
  margin-bottom: 2em;
}

.col-calendar {
  width: 8%;
}

.col-plan {
  width: 12%;
}

.col-hidden {
  width: 73%;
}

.col-term {
  width: 7%;
}

.schedule-label {
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.calendar {
  color: #0087e0;
  font-size: 1.6em;

}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: -1em;
}

.sections {
    width: 100%;
  }
  
  .list {
    width: 100%;
    border-top: 0.1em solid;
    border-top: 0.15em solid;
    border-top-color: #0087e0;
  }

  .course-item {
    border-bottom: 0.1em solid gray;
    height: calc(100% / 14);
  }

  .last-item {
    border-bottom: 0em;
  }

  .course-index {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.1em solid gray;
    font-size: 1em;
    height: 4em;
  }

  .last-index {
    border-left: 0em;
  }

  .sched-item {
    border: 0.5em;
    border-right-style: ridge;
    border-radius: 0.5em;
    width: 96%; 
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    display: flex;  
    flex-direction: column;
    align-items: center;
  }

  .bold-item {
    font-weight: bold;
  }

  .two-hours {
    margin-top: -4em;
    height: calc(100% * 2 - 4%);
  }

  .three-hours {
    margin-top: -4em;
    margin-bottom: -4em;
    height: calc(100% * 3 - 4%);
  }

  .one-half-top {
    margin-top: -2em;
    height: calc(100% * 1.5 - 4%);
  }

  .one-half-bottom {
    margin-bottom: -2em;
    height: calc(100% * 1.5 - 4%);
  }

  .col-day{
    width: calc(100% / 7);
  }

  .general {
    background: rgb(237,187,65, 0.5);
    border-color: rgb(237,187,65, 0.5);
  }
  
  .specialized {
    background: rgb(31,165,255, 0.5);
    border-color: rgb(31,165,255, 0.5);
  }
  
  .required {
    background: rgb(255,89,94, 0.5);
    border-color: rgb(255,89,94, 0.5);
  }
  
  .basic {
    background: rgb(6,214,160, 0.5);
    border-color: rgb(6,214,160, 0.5);
  }