@import "../mycollection/font/flaticon.css";

.footer {
    background-color: #1A4C89;
    width: 100%;
    color: white;
    padding-right: 5%;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:right;
    position: absolute;
    bottom: 0;
}

.footer .copy-right-text {
    display: block;
    text-align: right;
    padding-top: 2%;
}

.footer ul {
    padding-top: 6%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.footer li {
    display: inline-block;
    justify-content: center;
}

.social{
    font-size: 30px;
}

.facebook-icon, .linkding-icon, .instagram-icon, .twitter-icon {
    color: white;
}