.type-box {
  line-height: 1.5em;
  display: flex;
  justify-self: center;
  border-radius: 0.5em;
  border-style: solid;
  height: 2em;
  width: 5.6em;
  justify-content: center;
  align-items: center;
}

.col-label {
  width: calc(100% / 6);
}

.col-hidden {
  width: calc(100% / 6*4.6);
}

.general {
  background: #edbb41;
  color: white;
}

.specialized {
  background: #1fa5ff;
  color: white;
}

.required {
  background: #06d6a0;
  color: white;
}

.basic {
  background: #ff595e;
  color: white;
}

.submitted {
  color: #1fbd44;
  border-color: #1fbd44;
}

.not-submitted {
  color: #0087e0;
  border-color: #0087e0;
}

.edit-option {
  border-bottom: 0.1em solid;
}

.waiting {
  color: gray;
  border-color: gray;
}

.clickable {
  cursor: pointer;
}

.without-border {
  border-left: none;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  line-height: 4em;
}

.col-filter{
  width: calc(100% / 5);
}

.filter-selected {
  background-color: #8ed1ff;
  border-color: #8ed1ff;
}

.last-item {
  border-bottom: 0em;
}

.col-trash{
  width: calc(100% / 30*2);
}

.col-status{
  width: calc(100% / 30*8);
}

.col-code{
  width: calc(100% / 8);
}

.col-name{
  width: calc(100% / 4);
}

.col-instructor{
  width: calc(100% / 5);
}

.col-add{
  width: calc(100% / 18);
}

.col-code-2{
  width: calc(100% / 9);
}

.col-capacity{
  width: calc(100% / 11.4);
}

.col-type{
  width: calc(100% / 10);
}

.col-name-2{
  width: calc(100% / 4.52);
}

.col-instructor-2{
  width: calc(100% / 5.7);
}

.col-units{
  width: calc(100% / 15);
}

.col-explain{
  width: calc(100% / 5.5);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .filter-index {
    width: 4em;
  }
}
          
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .filter-index {
    width: 5em;
  }
  .add-sign {
    font-size: 0.8em;
  }
  .full-sign {
    font-size: 0.9em;
  }
}
          
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .filter-index {
    width: 6em;
  }
  .add-sign {
    font-size: 0.9em;
  }
  .full-sign {
    font-size: 1em;
  }
}

.selected {

}

.item {
}

.last-item {
}

.first-item {
}

.selected:hover .item {
  border-top: 0.14em solid #0087e0;
  border-bottom: 0.14em solid #0087e0;
}

.selected:hover .first-item {
    border-right: 0.3em solid #0087e0;
    border-top: 0.14em solid #0087e0;
    border-bottom: 0.14em solid #0087e0;
}

.selected:hover .last-item {
    border-left: 0.14em solid #0087e0;
  border-top: 0.14em solid #0087e0;
    border-bottom: 0.14em solid #0087e0;}
