<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../assets/styles/home-styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>بلبلستان</title>
    </head>
    <body>
        <header>
            <div class="header">
                <div class="m-2">
                </div>
                <div class="bolbolestan-logo m-2">
                    <a href="home.html">
                        <img src="../assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="option m-2">
                    <a href="courses.html">
                        انتخاب واحد
                    </a>
                </div>
                <div class="option m-2">
                    <a href="schedule.html">
                        برنامه هفتگی
                    </a>
                </div>
                <div class="logout m-1">
                    <span class="logout-text">
                        خروج
                    </span>
                    <span>
                        <i class="flaticon flaticon-log-out"></i>
                    </span>

                </div>

                <div class="m-3">
                </div>
            </div>
        </header>
        <nav>
            <div class="background-img">
                <img src="../assets/images/cover_photo.png" alt="cover photo">
            </div>
        </nav>

        <div class="container-fluid text-center">
            <div class="main row">
                <div class="std-info col-sm-3">
                    <img class="avatar" src="../assets/images/robot.png" alt="avatar">
                    <ul>
                        <li>نام: <span class="std-name">تست تست فر</span></li>
                        <li>شماره دانشجویی: <span class="std-id">۸۱۰۱۹۶۰۰۰</span></li>
                        <li>تاریخ تولد: <span class="std-birthday">۱۳۷۸/۱/۱</span></li>
                        <li>معدل کل: <span class="std-gpa">۱۷.۸۲</span></li>
                        <li>واحد گذرانده: <span class="std-units">۹۴.۰۰</span></li>
                        <li>دانشکده: <span class="std-campus">پردیس دانشکده‌های فنی</span></li>
                        <li>رشته: <span class="std-major">مهندسی کامپیوتر</span></li>
                        <li>مقطع: <span class="std-level>">کارشناسی</span></li>
                        <li><span class="std-status">مشغول به تحصیل</span></li>
                    </ul>

                </div>
                <div class="section col-sm-9">
                    <div class="report-cards-wrapper">
                        <div class="report-card col-sm-12">

                                <div class="col-label label">
                                    <div class="semester">
                                        <span>
                                            کارنامه - ترم ۵
                                        </span>
                                    </div>
                                </div>
                                <div class="col-h">
                                </div>
                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۱
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            طراحی و ساخت کامپایلر
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۳ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۱۹.۲۵
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                        <div class="report-index col-sm-1">
                                            <span>
                                                ۲
                                            </span>
                                        </div>
                                        <div class="course-id col-sm-2">
                                            <span>
                                                ۸۱۰۱۶۱۹-۰۱
                                            </span>
                                        </div>
                                        <div class="course-name col-sm-4">
                                            <span>
                                                سیستم‌های عامل
                                            </span>
                                        </div>
                                        <div class="course-unit col-sm-2">
                                            <span>
                                                ۴ واحد
                                            </span>
                                        </div>
                                        <div class="status-box col-sm-2">
                                            <div class="status fail">
                                                <span>
                                                    مردود
                                                </span>
                                            </div>
                                        </div>
                                        <div class="grade fail col-sm-1">
                                            <span>
                                                ۸.۵
                                            </span>
                                        </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۳
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            معماری کامپیوتر
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۳ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۱۶.۵
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۴
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            ریاضیات مهندسی
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۳ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status unknown">
                                            <span>
                                                نامشخص
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade unknown col-sm-1">
                                        <span>
                                            --
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۵
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            دانش خانواده و جمعیت
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۲ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۲۰
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۶
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            آزمایشگاه مدار‌های الکتریکی
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۱ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۱۸
                                        </span>
                                    </div>
                                </div>
                                <div class="GPA">
                                    <span>
                                        معدل: ۱۴.۵۶
                                    </span>
                                </div>


                        </div>

                        <div class="report-card col-sm-12">

                                <div class="col-label label">
                                    <span>
                                        کارنامه - ترم ۶
                                    </span>
                                </div>
                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۱
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            طراحی و ساخت کامپایلر
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۳ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۱۹.۲۵
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                        <div class="report-index col-sm-1">
                                            <span>
                                                ۲
                                            </span>
                                        </div>
                                        <div class="course-id col-sm-2">
                                            <span>
                                                ۸۱۰۱۶۱۹-۰۱
                                            </span>
                                        </div>
                                        <div class="course-name col-sm-4">
                                            <span>
                                                سیستم‌های عامل
                                            </span>
                                        </div>
                                        <div class="course-unit col-sm-2">
                                            <span>
                                                ۴ واحد
                                            </span>
                                        </div>
                                        <div class="status-box col-sm-2">
                                            <div class="status fail">
                                                <span>
                                                    مردود
                                                </span>
                                            </div>
                                        </div>
                                        <div class="grade fail col-sm-1">
                                            <span>
                                                ۸.۵
                                            </span>
                                        </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۳
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            معماری کامپیوتر
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۳ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۱۶.۵
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۴
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            ریاضیات مهندسی
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۳ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status unknown">
                                            <span>
                                                نامشخص
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade unknown col-sm-1">
                                        <span>
                                            --
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۵
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            دانش خانواده و جمعیت
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۲ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۲۰
                                        </span>
                                    </div>
                                </div>

                                <div class="report-card-item row">
                                    <div class="report-index col-sm-1">
                                        <span>
                                            ۶
                                        </span>
                                    </div>
                                    <div class="course-id col-sm-2">
                                        <span>
                                            ۸۱۰۱۶۱۹-۰۱
                                        </span>
                                    </div>
                                    <div class="course-name col-sm-4">
                                        <span>
                                            آزمایشگاه مدار‌های الکتریکی
                                        </span>
                                    </div>
                                    <div class="course-unit col-sm-2">
                                        <span>
                                            ۱ واحد
                                        </span>
                                    </div>
                                    <div class="status-box col-sm-2">
                                        <div class="status pass">
                                            <span>
                                                قبول
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grade pass col-sm-1">
                                        <span>
                                            ۱۸
                                        </span>
                                    </div>
                                </div>

                                <div class="GPA d-flex flex-row">
                                    <span>
                                        معدل: ۱۴.۵۶
                                    </span>
                                </div>

                            </div>

                    </div>
                </div>
            </div>
        </div>
            <footer class="footer">
                <div class="container">
                    <div class="row no-gutters flex justify-content-center align-items-center">
                        <div class="copy-right-text col-md-6">
                            <p>
                                ©
                                 دانشگاه تهران - سامانه جامع بلبلستان
                            </p>
                        </div>
                        <div class="col-md-6 text-md-left">
                            <ul class="social list-unstyled">
                                <li>
                                    <a href="#">
                                        <i class="facebook-icon flaticon-facebook"></i> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="linkding-icon flaticon-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="instagram-icon flaticon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="twitter-icon flaticon-twitter-logo-on-black-background"></i></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
    </body>
</html>