<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../assets/styles/home-styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>بلبلستان</title>
    </head>
    <body>
        <header>
            <div class="header">
                <div class="bolbolestan-logo m-2">
                    <a href="home.html">
                        <img src="../assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="right-text m-2">
                    <a href="courses.html">
                        انتخاب واحد
                    </a>
                </div>
                <div class="left-text m-2">
                    <a href="schedule.html">
                        برنامه هفتگی
                    </a>
                </div>
                <div class="logout m-1">
                    خروج
                    <i class="flaticon flaticon-log-out"></i>
                </div>
            </div>
        </header>

        <div class="background-img">
            <img src="../assets/images/cover_photo.png" alt="cover photo">
        </div>
        <aside>
            <div class="std-info">
                <img class="avatar" src="../assets/images/robot.png" alt="avatar">
                <ul>
                  <li>نام: <span class="std-name">تست تست فر</span></li>
                  <li>شماره دانشجویی: <span class="std-id">۸۱۰۱۹۶۰۰۰</span></li>
                  <li>تاریخ تولد: <span class="std-birthday">۱۳۷۸/۱/۱</span></li>
                  <li>معدل کل: <span class="std-gpa">۱۷.۸۲</span></li>
                  <li>واحد گذرانده: <span class="std-units">۹۴.۰۰</span></li>
                  <li>دانشکده: <span class="std-campus">پردیس دانشکده‌های فنی</span></li>
                  <li>رشته: <span class="std-major">مهندسی کامپیوتر</span></li>
                  <li>مقطع: <span class="std-level>">کارشناسی</span></li>
                </ul>
            </div>
        </aside>
        
        
        </body>
</html>