<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../assets/styles/login-styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>بلبلستان</title>
    </head>
    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <h3 class="text-whitesmoke">ورود به سامانه بلبلستان</h3>
                <div class="container-content">
                    <form class="margin-t">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="email" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b">ورود</button>
                            
                        <p class="text-whitesmoke text-center"><small>هنوز اکانت ندارید؟</small></p>
                        <a class="text-darkyblue" href="signup.html"><small>اکانت بسازید</small></a>
                    </form>
                </div>
            </div>
    </body>

</html>