<head>
    <link rel="stylesheet" href="../assets/styles/schedule-styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="course-selection-wrapper">
    <div class="course-selection">
        <div class="list">
        <div class="courses selections">
                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    شنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    یک‌شنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    دوشنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    سه‌شنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    چهارشنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    پنجشنبه
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۹:۰۰ - ۸:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>