<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles/schedule-styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="header">
            <div class="m-2">
            </div>
            <div class="bolbolestan-logo m-2">
                <a href="home.html">
                    <img src="../assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="option m-2">
                <a href="home.html">
                    خانه
                </a>
            </div>
            <div class="option m-2">
                <a href="courses.html">
                    انتخاب واحد
                </a>
            </div>
            <div class="logout m-1">
                <span class="logout-text">
                    خروج
                </span>
                <span>
                    <i class="flaticon flaticon-log-out"></i>
                </span>

            </div>

            <div class="m-3">
            </div>
        </div>
    </header>

<main>
<div class="schedule-wrapper">
    <div class="schedule row">
            <div class="col-calendar schedule-label">
                <div class="calendar">
                    <span>
                        <i class="icon flaticon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-plan schedule-label">
                <span>
                    برنامه هفتگی
                </span>
            </div>
            <div class="col-hidden">
            </div>
            <div class="col-term schedule-label">
                <span>
                    ترم ۶
                </span>
            </div>
        <div class="list">
        <div class="sections">
                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    شنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    یک‌شنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    دوشنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    سه‌شنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    چهارشنبه
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    پنجشنبه
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۹:۰۰ - ۸:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۰:۰۰ - ۹:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-bottom specialized">
                                    <div>
                                        ۱۰:۳۰ - ۹:۰۰
                                    </div>
                                    <div class="bold-item">
                                        پایگاه داده‌ها
                                    </div>
                                    <div class="bold-item">
                                            اختصاصی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-bottom specialized">
                                    <div>
                                        ۱۰:۳۰ - ۹:۰۰
                                    </div>
                                    <div class="bold-item">
                                        پایگاه داده‌ها
                                    </div>
                                    <div class="bold-item">
                                            اختصاصی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item two-hours required">
                                    <div>
                                        ۱۰:۰۰ - ۸:۰۰
                                    </div>
                                    <div class="bold-item">
                                        زبان تخصصی
                                    </div>
                                    <div class="bold-item">
                                            اصلی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۱:۰۰ - ۱۰:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۲:۰۰ - ۱۱:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-top basic">
                                    <div>
                                        ۱۲:۰۰ - ۱۰:۳۰
                                    </div>
                                    <div class="bold-item">
                                        معادلات دیفرانسیل
                                    </div>
                                    <div class="bold-item">
                                            پایه
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-top basic">
                                    <div>
                                        ۱۲:۰۰ - ۱۰:۳۰
                                    </div>
                                    <div class="bold-item">
                                        معادلات دیفرانسیل
                                    </div>
                                    <div class="bold-item">
                                            پایه
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۳:۰۰ - ۱۲:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۴:۰۰ - ۱۳:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۵:۰۰ - ۱۴:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-bottom specialized">
                                    <div>
                                        ۱۵:۳۰ - ۱۴:۰۰
                                    </div>
                                    <div class="bold-item">
                                        مهندسی اینترنت
                                    </div>
                                    <div class="bold-item">
                                            اختصاصی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item three-hours required">
                                    <div>
                                        ۱۶:۰۰ - ۱۳:۰۰
                                    </div>
                                    <div class="bold-item">
                                        آزمایشگاه شبکه‌های کامپیوتری
                                    </div>
                                    <div class="bold-item">
                                            اصلی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-bottom specialized">
                                    <div>
                                        ۱۵:۳۰ - ۱۴:۰۰
                                    </div>
                                    <div class="bold-item">
                                        مهندسی اینترنت
                                    </div>
                                    <div class="bold-item">
                                            اختصاصی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۶:۰۰ - ۱۵:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۷:۰۰ - ۱۶:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <div class="course-index sched-item one-half-bottom general">
                                    <div>
                                        ۱۷:۳۰ - ۱۶:۰۰
                                    </div>
                                    <div class="bold-item">
                                        اندیشه اسلامی ۱
                                    </div>
                                    <div class="bold-item">
                                            عمومی
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item last-item">
                    <div class="row no-gutters">
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    ۱۸:۰۰ - ۱۷:۰۰
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="course-index last-index">
                                <span>
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row no-gutters flex justify-content-center align-items-center">
            <div class="copy-right-text col-md-6">
                <p>
                    ©
                        دانشگاه تهران - سامانه جامع بلبلستان
                </p>
            </div>
            <div class="col-md-6 text-md-left">
                <ul class="social list-unstyled">
                    <li>
                        <a href="#">
                            <i class="facebook-icon flaticon-facebook"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="linkding-icon flaticon-linkedin-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="instagram-icon flaticon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="twitter-icon flaticon-twitter-logo-on-black-background"></i></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</main>

</body>

</html>